.page-header {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ECECEC;

    &__container {
        display: flex;
        margin-right: auto;
        margin-left: auto;
        padding-left: 15px;
        padding-right: 15px;
        width: 1200px;
    }

    &__main-nav{
        display: flex;
        align-items: center;
    }

    &__logo {
        color: $secondary-color;

    }

    &__leftpart-logo {
        color: $accent-color;
    }
}

.site-nav {
    display: flex;
    margin-left: 93px;
    &__item {
        margin-right: 50px;
    }

    &__item:last-child {
        margin-right: 0;
    }

    &__link {
        position: relative;
        padding-top: 32px;
        padding-bottom: 32px;
        display: inline-flex;
        color: $title-color;
        fill: $main-color;

        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

        font-weight: 500;
        line-height: 1.14;
        letter-spacing: 0.02em;
        text-decoration: none;
        align-items: center;
    }

    &__link:hover, &__link:focus {
        color: $accent-color;
        fill: $accent-color;
    }

    &__current-page {
        color: $accent-color;
    }

    &__current-page::after {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 4px;

        content: "";
        background-color: $accent-color;
        border-radius: 2px;
    }
    
}

.auth-nav {
    display: flex;
    margin-left: auto;

    &__item {
        margin-right: 50px;
    }

    &__item:last-child {
        margin-right: 0;
    }

    &__link {
        display: flex;
        padding-top: 32px;
        padding-bottom: 32px;
        color: $main-color;

        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

        font-weight: 500;
        line-height: 1.14;
        letter-spacing: 0.02em;
        text-decoration: none;
        align-items: center;
    }

    &__link:hover, &__link:focus {
        color: $accent-color;
        fill: $accent-color;
    }

    &__letter-icon {
        fill: currentColor;

        margin-right: 10px;
        width: 16px;
        height: 12px;
    }

    &__phone-icon {
        fill: currentColor;

        margin-right: 10px;
        width: 10px;
        height: 16px;
    }
}